<div class="panel panel-default">
  <div class="panel-heading">
    <h2><%= t('.heading') %></h2>
  </div> <!-- /.panel-heading -->

  <div class="panel-body">
    <%= render 'form' %>
  </div> <!-- /.panel-body -->

  <div class="panel-footer">
    <%= link_to t('.show'), @slide %> |
    <%= link_to t('.back'), :back %>
  </div> <!-- /.panel-footer -->
</div> <!-- /.panel panel-default -->