@import 'animate';

.boxxy {
  animation-iteration-count         : infinite;
  -moz-animation-iteration-count    : infinite;
  -webkit-animation-iteration-count : infinite;
  
  animation-duration                : 2500ms;
  -moz-animation-duration           : 2500ms;
  -webkit-animation-duration        : 2500ms;
  
//  animation-delay                   : 2s;
//  -moz-animation-delay              : 2s;
//  -webkit-animation-delay           : 2s;
}