<div class="panel panel-default">
  <div class="panel-heading"> 
    <h2><%= t('.heading') %></h2>
  </div> <!-- /.panel-heading -->

  <div class="panel-body">
    <div id='calendar'></div>
  </div> <!-- /.panel-body -->

</div> <!-- /.panel panel-default -->
