<div class="panel panel-default">
  <div class="panel-heading"> 
    <h2>Kalender</h2>
  </div> <!-- /.panel-heading --> 

  <div class="panel-body">
		<div id='calendar'></div>
	</div> <!-- /.panel-body -->

  <div class="panel-footer">
    <%= link_to "Zurück", :back %>
  </div> <!-- /.panel-footer -->
</div> <!-- /.panel panel-default -->
