<h3>Menüleiste<a name="menu"></a></h3>
<p>
  Sie sind nun angemeldet und können mit der Administration des CLEAR GROUP Welcome Screen beginnen. Oben können Sie die Optionen erkennen, die Ihnen über die Menüleiste angeboten werden. Von links nach rechts können Sie:
  <ul>
    <li>Über das CLEAR GROUP Logo die <a href="#preview">Vorschau</a> der aktuellen Anzeige öffnen</li>
    <li>Die <a href="#calendar">Kalenderansicht</a> öffnen</li>
    <li>Die <a href="#appointments">Terminliste</a> öffnen</li>
    <li>Einen <a href="#edit_appointment">neuen Termin</a> anlegen</li>
    <li>Sich abmelden</li>
  </ul>
</p>
<figure>
  <%= image_tag("../images/menu.png") %>
  <figcaption>Die Menüleiste</figcaption>
</figure>