<h3>Termine<a name="appointments"></a></h3>
<p>
  In der Termin&uuml;bersicht werden alle vorhandenen Termine aufgelistet. Die Sortierung erfolgt absteigend nach Datum, sodass die neusten Termine am Beginn stehen. Angezeigt werden die wichtigesten Daten zu einem Termin. Am rechten Rand kann man zur <a href="#view_appointment">Terminanzeige</a> oder <a href="#edit_appointment">Terminbearbeitung</a> wechseln oder den Termin l&ouml;schen. Unter der Tabelle befindet sich ein Link zum Wechsel zur Terminanlage.
</p>
</br>
<figure>
  <%= image_tag("../images/appointments.png", class: "img-responsive") %>
  <figcaption>Eine &Uuml;bersicht &uuml;ber alle Termine</figcaption>
</figure>
