<h3>Kalenderansicht<a name="calendar"></a></h3>
<p>
  Die Kalenderansicht bietet drei verschiedene Ansichten: Die Monatsansicht, die Wochenansicht und die Tagesansicht. Zwischen diesen Ansichten kann mittels der Buttons am oberen rechten Rand umgeschalten werden. Am linken oberen Rand befinden sich Buttons mit einfachen Pfeilen um, je nach aktueller Ansicht einen Monat, eine Woche oder einen Tag zur&uuml; bzw. vor zu wechseln. Daneben befinden sich Buttons mit doppelten Pfeilen um ein Jahr zur&uuml;ck bzw. vor zu schalten. &Uuml;ber den Button "Heute" kann man direkt zum heutigen Tag wechseln. Der heutige Tag wird in der Kalenderansicht farblich hervorgehoben.
</p>
<p>
  Klickt man auf ein Feld im Kalender wird man zur <a href="#edit_appointment">Terminanlage</a> weitergeleitet. Dabei wird das Datum bereits &uuml;bernommen. Zus&auml;tzlich werden bei der Wochen- und Tagesansicht ebenso die Uhrzeit &uuml;bernommen.
</p>
</br>
<figure>
  <%= image_tag("../images/calendar.png", class: "img-responsive") %>
  <figcaption>Die Kalenderansicht mit unterschiedlichen Darstellungsm&ouml;glichkeiten</figcaption>
</figure>
</br>
<p>
  Sobald man sich mit der Maus &uuml;ber einen Termin bewegt, &ouml;ffnet sich ein Tooltip mit den wichtigsten Infos zum Termin. &Uuml;ber einen Klick auf den Termin kommt man zur <a href="#edit_appointment">Terminbearbeitung</a>.
</p>
</br>
<figure>
  <%= image_tag("../images/tooltip.png") %>
  <figcaption>Ein Tooltip mit den wichtigsten Informationen zum Termin</figcaption>
</figure>
