<h3>Start<a name="start"></a></h3>
<p>
  Um den CLEAR GROUP Welcome Screen zu öffnen, gibt man im Browser (am Besten Mozilla Firefox oder Google Chrome) <a href="http://192.168.15.180">"192.168.15.180"</a> ein. Es öffnet sich der Startbildschirm. Es befindet sich hier eine Menüleiste, über die man sich bei der Welcome Screen Administration anmelden kann. Desweiteren kann man über das CLEAR GROUP Logo eine Vorschau öffnen, wie die aktuelle Anzeige am Welcome Screen wäre.
</p>
</br>
<figure>
  <%= image_tag("../images/start.png", class: "img-responsive") %>
  <figcaption>Der Start</figcaption>
</figure>
