<h3>Termindetails<a name="view_appointment"></a></h3>
<p>
  In den Termindetails finden Sie alle Informationen zu einem Termin. Auch hier finden Sie die selben Aktionen wie in der <a href="#appointments">Terminliste</a>.
</p>
</br>
<figure>
  <%= image_tag("../images/view-appointment.png", class: "img-responsive") %>
  <figcaption>Anzeige aller Informationen zu einem Termin</figcaption>
</figure>
