<h3>Kalenderansicht<a name="calendar"></a></h3>
<p>
  Die Kalenderansicht bietet unterschiedliche Möglichkeiten der Darstellung. Es gibt eine Monatsanzeige, eine Wochenanzeige und eine Tagesanzeige. Zwischen den drei Darstellungen läßt sich mit den Buttons rechts oben umschalten. Links oben befinden sich Buttons, um die Anzeige zum nächsten oder vorherigen Monat/Woche/Tag zu schalten, je nachdem in welcher Ansicht man sich befindet. Möchte man direkt wieder auf den heutigen Tag springen, so kann man den Button "Heute" drücken. Der aktuelle Tag wird im Kalender immer farblich hervorgehoben.
</p>
<p>
  Man kann über den Kalender einen <a href="#edit_appointment">neuen Termin anlegen</a>, indem man auf ein Feld im Kalender klickt. Das richtige Datum (Monatsanzeige) und die richtige Uhrzeit (Wochen- und Tagesanzeige) werden direkt in die entsprechenden Felder übernommen.
</p>
<figure>
  <%= image_tag("../images/calendar.png") %>
  <figcaption>Die Kalenderansicht mit unterschiedlichen Darstellungsmöglichkeiten</figcaption>
</figure>
<p>
  Sobald man sich mit der Maus über einen Termin bewegt, öffnet sich ein Tooltip mit den wichtigsten Infos zum Termin. Über einen Klick auf den Termin kommt man zur <a href="#edit_appointment">Terminbearbeitung</a>.
</p>
<figure>
  <%= image_tag("../images/tooltip.png") %>
  <figcaption>Ein Tooltip mit den wichtigsten Informationen zum Termin</figcaption>
</figure>