<h3>Termine<a name="Termine"></a></h3>
<p>
  In der Terminübersicht werden alle Termine angezeigt. Dabei steht der aktuellste Termin oben, auch wenn dieser in der Zukunft liegt. Man sieht die wichtigesten Daten zu einem Termin und kann diesen auch <a href="#view_appointment">anzeigen</a>, <a href="#edit_appointment">bearbeiten</a> und löschen. Dazu ist ganz unten in der Anzeige noch die Möglichkeit einen neuen Termin anzulegen.
</p>
<figure>
  <%= image_tag("../images/appointments.png") %>
  <figcaption>Eine Übersicht über alle Termine</figcaption>
</figure>