<h3>Start und Anmeldung<a name="start_sign_in"></a></h3>
<p>
  Um den CLEAR GROUP Welcome Screen zu öffnen, gibt man im Browser (am Besten Mozilla Firefox oder Google Chrome) <a href="http://192.168.15.180">"192.168.15.180"</a> ein. Es öffnet sich der Startbildschirm. Zur Anmeldung müssen Sie in den Felden E-Mail und Passwort Ihre Daten eintragen und auf den Button "Anmelden" klicken. Folgende User gibt es:
  <table class="table">
    <thead>
      <tr>
        <th>E-Mail</th>
        <th>Passwort</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>welcome@clear-group.de</td>
        <td>welcome2clear</td>
      </tr>
      <tr>
        <td>admin@clear-group.de</td>
        <td>admin@welcome</td>
      </tr>
    </tbody>
  </table>
</p>
</br>
<figure>
  <%= image_tag("../images/sign-in.png", class: "img-responsive") %>
  <figcaption>Die Anmeldung</figcaption>
</figure>
