<h3>Start und Anmeldung<a name="start_sign_in"></a></h3>
<p>
  Der CLEAR GROUP Welcome Screen ist eine Webanwendung zur Verwaltung von Terminen und Begr&uuml;&szlig;ung der Terminteilnehmer auf einem Willkommensbildschirm. &Uuml;ber die Adresse <a href="http://192.168.15.180">"192.168.15.180"</a> kann die Anwendung in einem Browser (Bestenfalls Google Chrome oder Mozilla Firefox) aufgerufen werden. Um nun die Termine verwalten zu k&ouml;nnen, muss man sich zun&auml;chst &uuml;ber die Startmaske anmelden. Zur Anmeldung wird eine E-Mail Adresse und ein Passwort ben&ouml;tigt. Hierbei gibt es bereits folgende vorhandene Benutzerdaten:
  <table class="table">
    <thead>
      <tr>
        <th>E-Mail</th>
        <th>Passwort</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>welcome@clear-group.de</td>
        <td>welcome2clear</td>
      </tr>
      <tr>
        <td>admin@clear-group.de</td>
        <td>admin@welcome</td>
      </tr>
    </tbody>
  </table>
</p>
</br>
<figure>
  <%= image_tag("../images/sign-in.png", class: "img-responsive") %>
  <figcaption>Die Anmeldung</figcaption>
</figure>
