<h3>Men&uuml;leiste<a name="menu"></a></h3>
<p>
  Wenn Sie angemeldet sind, zeigt sich am oberen Rand der Anwendung die Men&uuml;leiste, durch welche Sie zu den verschiedenen Teilfunktionen navigieren k&ouml;nnen. Von links nach rechts k&ouml;nnen Sie:
  <ul>
    <li>&Uuml;ber das CLEAR GROUP Logo die <a href="#preview">Vorschau</a> der aktuellen Anzeige &ouml;ffnen</li>
    <li>Die <a href="#calendar">Kalenderansicht</a> &ouml;ffnen</li>
    <li>Die <a href="#appointments">Terminliste</a> &ouml;ffnen</li>
    <li>Einen <a href="#edit_appointment">neuen Termin</a> anlegen</li>
    <li>Die Hilfe aufrufen</li>
    <li>Sich abmelden</li>
  </ul>
</p>
</br>
<figure>
  <%= image_tag("../images/menu.png", class: "img-responsive") %>
  <figcaption>Die Men&uuml;leiste</figcaption>
</figure>
