<div class="panel panel-default">
  <div class="panel-heading"> 
		<h2>Termin bearbeiten</h2>
  </div> <!-- /.panel-heading -->		

  <div class="panel-body">  
		<%= render 'form' %>
  </div> <!-- /.panel-body -->

  <div class="panel-footer"> 
		<%= link_to 'Anzeigen', @appointment %> |
		<%= link_to 'Löschen', @appointment, method: :delete, data: { confirm: 'Wollen Sie den Termin wirklich löschen?' } %> |
		<%= link_to 'Zurück', :back %>
	</div> <!-- /.panel-footer -->
</div> <!-- /.panel panel-default -->
