<div class="panel panel-default">
  <div class="panel-heading"> 
		<h2>Neuer Termin</h2>
	</div> <!-- /.panel-heading -->	

  <div class="panel-body">
		<%= render 'form' %>
  </div> <!-- /.panel-body -->

  <div class="panel-footer">
		<%= link_to 'Zurück', appointments_path %>
  </div> <!-- /.panel-footer -->
</div> <!-- /.panel panel-default -->
