<div class="panel panel-default">
  <div class="panel-heading"> 
		<p>Hallo <%= @resource.email %>!</p>
	</div> <!-- /.panel-heading -->

	<div class="panel-body">
		<p>Jemand hat einen Link zur &Auml;nderung deines Passworts angefragt. Du kannst dies mit dem unten stehenden Link tun.</p>
		
		<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

		<p>Wenn Du dies nicht angefragt hast, ingoriere diese Email bitte.</p>
		<p>Dein Passwort wird nicht ge&auml;ndert bis Du auf den oben stehenden Link zugreifst und ein Neues erstellst.</p>
  </div> <!-- /.panel-body -->
</div> <!-- /.panel panel-default -->
